@import url('https://fonts.googleapis.com/css2?family=BBH+Bogle&display=swap');

body{
    font-family: "BBH Bogle", sans-serif;
}
.container{
    border: 1px solid black;
    width: 95%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.hex-colors {
   border: 2px solid black;
   text-align: center;
}
.hex-colors h1 {
    font-size: 2rem;
    text-transform: uppercase;
    animation: changeColor 5s infinite alternate;
}
.hex-colors h2 {
    border: 1px solid black;
    font-size: 1.5rem;
    padding: 10px;
}

@keyframes changeColor {
    0% { color: red; }
    25% { color: blue; }
    50% { color: green; }
    75% { color: orange; }
    100% { color: purple; }
}
@media (max-width: 480px) {
    .hex-colors h1 {
        font-size: 1.5rem;
    }
    .hex-colors h2 {
        font-size: 1.2rem;
    }
}